<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>welcome! xinye</title>
    <link rel="stylesheet" href="__STATIC__/index/css/index.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/index/css/indexTB.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/index/css/iconfont.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/index/fonts/font_1090203_vwb70lzetrn/iconfont.css" type="text/css" />
    <link rel="stylesheet" href="__STATIC__/index/css/signIn.css" type="text/css" />
</head>

<body>

    <{include file="public/header"}>
    <!-- 中间部分开始 -->
    <!-- 轮播图部分 -->
    <div id="center">
        <div class="carousel">
            <ul>
                <span class="iconfontarr prev">&#xe600;</span>
                <span class="iconfontarr next">&#xe601;</span>
                <li class="now"><img src="__STATIC__/index/imgs/首页-封面.png" alt=""></li>
                <li class="after"><img src="__STATIC__/index/imgs/首页-封面2.png" alt=""></li>
                <li><img src="__STATIC__/index/imgs/首页-封面3.png" alt=""></li>
                <li><img src="__STATIC__/index/imgs/2.jpg" alt=""></li>
                <li><img src="__STATIC__/index/imgs/3.jpg" alt=""></li>
                <li class="before"><img src="__STATIC__/index/imgs/2.jpg" alt=""></li>
            </ul>
            <div class="lines">
                <div class="active-line line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <!-- 宣传图部分 -->
        <div class="imgs">
            <figure>
                <img src="__STATIC__/index/imgs/xc1.jpg" width="100%" height="300px">
                <figcaption>
                    <div class="text">
                        <h1>我们有贴心的设计</h1>
                        <h2>竭尽所能为您提供想要的设计</h2>
                    </div>
                </figcaption>
            </figure>
            <figure class="middle">
                <img src="__STATIC__/index/imgs/xc2.jpg" width="100%" height="300px">
                <figcaption>
                    <div class="text">
                        <h1>我们有优秀的团队</h1>
                        <h2>准时完成您下达的任务</h2>
                    </div>
                </figcaption>
            </figure>
            <figure>
                <img src="__STATIC__/index/imgs/xc3.jpg" width="100%" height="300px">
                <figcaption>
                    <div class="text">
                        <h1>我们有优质的服务</h1>
                        <h2>为您答疑解惑，并定期为您维护</h2>
                    </div>
                </figcaption>
            </figure>
        </div>
        <!-- 大图部分 -->
        <div class="composition">
            <div class="title">
                <h1>新叶工作室竭诚为您服务</h1>
                <h2>打破时间空间限制，带您零距离了解我室</h2>
            </div>
            <div class="c_block">
                <ul class="fl">
                    <li class="top"><img src="__STATIC__/index/imgs/who旁边的红色.png" alt="">
                        <p>what-我们都由什么组成</p>
                    </li>
                    <li class="lis">
                        <img src="__STATIC__/index/imgs/工具-红.png" alt="">
                        <div class="ps">
                            <p>出色的前端与后台管理</p>
                            <p class="bottom">三名前端与三名后台人员，保证您的网页快速制作完成</p>
                        </div>
                    </li>
                    <li class="lis">
                        <img src="__STATIC__/index/imgs/设计-红.png" alt="">
                        <div class="ps">
                            <p>优秀的设计</p>
                            <p class="bottom">为您设计出理想的网页图</p>
                        </div>
                    </li>
                    <li class="lis">
                        <img src="__STATIC__/index/imgs/齿轮-红.png" alt="">
                        <div class="ps">
                            <p>优质的服务态度</p>
                            <p class="bottom">即使以后您有什么疑问，我们也会向您提供解答</p>
                        </div>
                    </li>
                    <li class="lis">
                        <img src="__STATIC__/index/imgs/灯泡-红.png" alt="" class="light">
                        <div class="ps">
                            <p>优质的服务态度</p>
                            <p class="bottom">即使以后您有什么疑问，我们也会向您提供解答</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <{include file="public/footer"}>

</body>
<script src="__STATIC__/index/js/jquery-3.3.1.min.js"></script>
<script src="__STATIC__/index/js/jQuery.scrollSpeed.js"></script>
<script src="__STATIC__/index/js/scroll.js"></script>
<script src="__STATIC__/index/js/index.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/login.js"></script>
<script src="__STATIC__/index/js/downblock.js"> </script>
</html>