<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/index/css/indexTB.css">
    <link rel="stylesheet" href="__STATIC__/index/css/contact.css">
    <link rel="stylesheet" href="__STATIC__/index/css/signIn.css" type="text/css" />
    <link rel="stylesheet" href="__STATIC__/index/fonts/font_1090203_vwb70lzetrn/iconfont.css" type="text/css" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ylLAceGkoBGNadunbBNL5WMh9QRzjWfD">
    </script>
    <title>联系与反馈</title>
</head>

<body>

    <{include file="public/header"}>
    <div id="center">
        <div id="main">
            <div class="c-us">
                <h2><span class="rBlock"></span>联系我们</h2>
                <ul>
                    <li><i class="iconfont">&#xeb8f;</i>17873676302</li>
                    <li class="amap"><i class="iconfont">&#xe63c;</i>湖南省常德市武陵区芙蓉路凤天宾馆旁育苗幼儿园进去...</li>
                    <li><i class="iconfont">&#xe6ac;</i>1162968700@qq.com</li>
                    <li><i class="iconfont">&#xe642;</i>18390097825</li>
                    <li><a href="https://jq.qq.com/?_wv=1027&k=5xCXnRm"><i class="iconfont">&#xe637;</i>1162968700</a></li>
                </ul>
                <img src="__STATIC__/index/imgs/地图.png" alt="地图" class="map">
                <div id="allmap" class="Map"></div>
                <div class="close"><i class="iconfont">&#xe629;</i></div>
            </div>

            <div class="leave">
                <h2><span class="rBlock"></span>反馈留言</h2>

                <form action="" id="user1"  method="post">
                    <p class="p-name">您的称呼</p>
                    <p class="p-phone">联系方式</p>
                    <input type="text" name="comname" class="name">
                    <input type="text" name="comemail" class="phone">
                    <textarea name="content" class="advice" placeholder="请于此留言您想反馈的建议"></textarea>
                    <button class="btn">提交</button>
                </form>

            </div>

        </div>

    </div>

    <{include file="public/footer"}>

</body>
<script src="__STATIC__/index/js/contact.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/login.js"></script>
<script src="__STATIC__/index/js/downblock.js"> </script>
</html>